.profileCard {
    display: block;
    background-color: #FFFFFF;
    padding: 0% 5% 0% 5%;
    margin: 2%;
    border-radius: 25px;
}

.profileCard img {
    border-radius: 50%;
    width: 8em;
    height: 8em;
}