.caregiverCard {
    background-color: #FFFFFF;
    width: 30%;
    height: 25%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%;
    margin: 1%;
    margin-bottom: 5%;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.description {
    display: block;
    text-align: left;
    justify-content: center;
    line-height: 1;
    margin: 1em;

}

.caregiverCard img {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    .caregiverCard {
      width: 90%;
    }
  }