.navBar {
    background-color: #486142;
    height: 28px;
    align-items: baseline;
    padding-top: 3px;
}

a {
    color: #FFFFFF;
    border-bottom: none;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
}

a:hover {
    /* text-decoration: underline #ED8733; */
    border-bottom: 3px solid #ED8733;
    padding-bottom: 1px;
}